html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

#cnt {
  height: 66vh;
}
#btns {
  height: 30px;
  background: #EEEEEE;
  line-height: 30px;
  padding: 0 10px;
}
#frames {
  width: 100%;
  height: calc(100% - 30px);
  position: relative;
  display: flex;
}

iframe {
  flex: 1;
  border: 1px solid #000000;
  width: 50%;
  height: calc(100% - 20px);
  margin: 10px;
}
